* {
    font-family: "Open Sans";
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
      background: #FFEDAC;
}
nav {
    background-color: #4E0714;
    position: fixed;
    gap: 45px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.ul-navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    font-size: 22px;
    font-weight: bold;
    gap: 8%;
    flex-wrap: wrap;

}
a {
    text-decoration: none;
    color:#F7DAC6;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}
a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #AC1634;
  transition: width 0.3s, height 0.3s, left 0.3s, top 0.3s;
  z-index: -1;
  border-radius: 20px;
}
a:hover {
  color: #FFEDAC;
}

a:hover::after {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  left: calc(50% - ( (100% + 20px) / 2 ));
  top: calc(50% - ( (100% + 20px) / 2 ));
}
.logo-navbar {
    width: 120px;
    height: 100px;
    padding-left:20px ;
}
.div-hero {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding-left: 340px;
}
.div-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("fotky/backgroundimage.png");
    background-size: contain;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px) brightness(0.55);
    z-index: 0;
}
.h1-h2-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: relative;
    gap: 20%;
}
h1 {
    z-index: 1;
    color: #F7DAC6;
    font-family: "Open Sans";
    font-size: 90px;
}
h2 {
    z-index: 1;
    color: #F7DAC6;
    font-family: "Open Sans";
    font-size: 50px;

}
.div-domu {
    scroll-margin-top: 105px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; 
    border-radius: 20px;
    padding: 40px;
    gap: 20%;
    background-color: rgba(78, 7, 20, 0.6);
    width: 90%;
    z-index: -1;
}
.section-h2 {
    font-size: 40px;
    color: #F7DAC6;
}
p {
    color: #F7DAC6;
}
#img-domu1 {
    width: 360px;
    height: 300px;
}