* {
    font-family: "Open Sans";
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
      background: #FFEDAC;
}
nav {
    background-color: #4E0714;
    position: fixed;
    gap: 45px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.ul-navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    gap: 8%;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
    color:#F7DAC6;
}
.a-nav {
    text-decoration: none;
    color:#F7DAC6;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #AC1634;
  transition: width 0.3s, height 0.3s, left 0.3s, top 0.3s;
  z-index: -1;
  border-radius: 20px;
}
a:hover {
  color: #FFEDAC;
}

a:hover::after {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  left: calc(50% - ( (100% + 20px) / 2 ));
  top: calc(50% - ( (100% + 20px) / 2 ));
}
.logo-navbar {
    width: 120px;
    height: 100px;
    padding-left:20px;
}

.nav-logo::after {
    display: none;
}

/* cau, tohle je osobni vankuv blog. tohle zpracovani navbaru me VYSIRA a kdokoliv, kdo udelal to video na ten instagram, kterej vyjel janci na fyp a janca si rekla "je to bude dobrej napad" tak ho pobodam, protoze mi to nejde, a janca tomu prd rozumi bo udelala kopy pejst a je stastna zeo */

.div-hero {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 90px;
}
.div-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("fotky/backgroundimage.png");
    background-size: contain;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px) brightness(0.55);
    z-index: 0;
}
.h1-h2-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: relative;
    gap: 20%;
}
h1 {
    z-index: 1;
    color: #F7DAC6;
    font-family: "Open Sans";
    font-size: 90px;
}
h2 {
    z-index: 1;
    color: #F7DAC6;
    font-family: "Open Sans";
    font-size: 40px;
    padding: 10px;

}
.div-domu {
    scroll-margin-top: 105px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; 
    border-radius: 20px;
    padding: 40px;
    gap: 20%;
    background-color: rgba(78, 7, 20, 0.6);
    width: 49%;
    z-index: -1;
    margin-top: 60px;
}
.section-h2 {
    font-size: 40px;
    color: #F7DAC6;
}
p {
    color: #F7DAC6;
    font-size: 18px;
    padding: 10px;
}
#img-domu1 {
    width: 360px;
    height: 300px;
}
.div-produkty {
    scroll-margin-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}
.div-okynko {
    display: flex;
    width: 450px;
    height: 320px;
    background-color: rgba(78, 7, 20, 0.6);
    margin-top: 60px;
    border-radius: 20px;
    overflow: hidden;
    
}
.img-produkty {
    width: 430px;
    height: 300px;
    border-radius: 15px;
    margin: auto;
}
.div-mapa {
    padding: 60px;
    background-color: rgba(78, 7, 20, 0.6);
    width: 40%;
    padding: 20px;
    border-radius: 20px;
}

/*vanek contribution (aspon nepouziva ejaj) */

.produkty-rada {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
}

.div-okynko:hover{
    transform: scale(1.05);
}

.mapa {
    border-radius: 15px;
    margin: auto;
}
.div-udaje {
    width: 40%;
    background-color: rgba(78, 7, 20, 0.6);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}
.div-kontakt {
    scroll-margin-top: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
.facebook {
    width: 60px;
    height: auto;
}
footer {
    width: 97,5%;
    background-color: #4E0714;
    color: #F7DAC6;
    padding: 20px;
    text-align: center;
}
.div-reklamace {
    scroll-margin-top: 105px;
    margin-top: 60px;
}
.div-nadpis {
    width: 70%;
    height: fit-content;
    margin: 0 auto;
    background-color: rgba(78, 7, 20, 0.6);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}
.div-nadpis-obal {
    display: flex;
    justify-content: center;
    align-items: center;
}